# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
S3Py/
.env
pyvenv.cfg

# Ignore system files
.DS_Store
*.log

# Ignore test/downloaded files
test.txt
downloaded_test.txt

# Ignore IDE/editor settings
.vscode/
.idea/